services:
    mongodb:
      image: mongo:6.0.27-jammy
      container_name: mongodb
      ports:
        - "27027:27017"
      volumes:
        - ./mongodb:/data/db
      networks:
        - backend
      
      restart: always

networks:
  backend:
